@font-face {
  font-family: "BlackMambaTrial-Venom-WebTrial";
  font-style: normal;
  font-weight: normal;
  src: local("BlackMambaTrial-Venom-WebTrial"),
    url("BlackMambaTrial-Venom-WebTrial.woff") format("woff");
}
